<div class="smallsidebar">
    <div>
        <div class="instalogo">
            <img style="height: 5vh; width: 60%; margin-top: 5vh; margin-left: 19px;" src="https://freelogopng.com/images/all_img/1658588720instagram-logo-black-and-white.png" alt="">
        </div>
    </div>
    <div class="sidebar-item">
        <button id="home">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">home</span>
        </button>
    </div>
    <div class="sidebar-item">
        <button id="search">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">search</span>
        </button>
    </div>
    <div class="sidebar-item">
        <button id="explore">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">explore</span>
        </button>
    </div>
    <div class="sidebar-item">
        <button id="reels">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">play_circle_filled</span>
        </button>
    </div>
    <div class="sidebar-item">
        <button id="mess">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">chat_bubble</span>
        </button>
    </div>
    <div class="sidebar-item">
        <button id="notification">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">favorite_border</span> 
        </button>
    </div>
    <div class="sidebar-item">
        <button id="add">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">add_box</span>
        </button>
    </div>
    <div class="sidebar-item">
        <button id="account">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">circle</span>
        </button>
    </div>
    <div class="sidebar-item" style="margin-top: 6vh;">
        <button id="thread">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">@</span>
        </button>
    </div>
    <div class="sidebar-item">
        <button id="more">
            <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">menu</span>
        </button>
    </div>
</div>