<div class="smallsidebar">
    <div>
        <div class="instalogo">
            <img style="height: 5vh; width: 60%; margin-top: 5vh; margin-left: 10px;" src="https://freelogopng.com/images/all_img/1658588720instagram-logo-black-and-white.png" alt="">
        </div>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">home</span>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">search</span>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">explore</span>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">play_circle_filled</span>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">chat_bubble</span>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">favorite_border</span> 
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">add_box</span>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">circle</span>
    </div>
    <div class="sidebar-item" style="margin-top: 6vh;">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">@</span>
    </div>
    <div class="sidebar-item">
        <span class="material-icons" style="padding-top: 5px; padding-right: 10px; font-size: 30px;">menu</span>
    </div>
</div>